<!--About Page-->
<div class="row">
 <div class="col-lg-12 text-center">
 <h1>About Us</h1>
 <p class="lead">Hello you! My name is Myroslav Andreykiv, I'm RoR learner and this site is my very first website.</p>
 <ul class="list-unstyled">
 <li>Have a nice day!</li>
 <li>( ͡° ͜ʖ ͡°)</li>
 </ul>
 </div>
</div>
