<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Welcome to Andreykiv's site!</p>
   <p>( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)</p>
   <p>( ͡° ͜ʖ ͡°)</p>
   <p>( ͡° ͜ʖ ͡°)</p>
   <p>( ͡° ͜ʖ ͡°)</p>
</div>