<footer class="footer-distributed">

			<div class="footer-right">
				
				<a href="https://github.com/andreykiv"><i class="fa fa-github"></i></a>
				<a href="https://vk.com/id24643896"><i class="fa fa-vk"></i></a>
				<a href="http://steamcommunity.com"><i class="fa fa-steam"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					
					<%= link_to "Contact Us", pages_contact_path, class: 'page-scroll' %>
					·
					<%= link_to "About Us", pages_about_path, class: 'page-scroll' %>
					·
					<%= link_to "Home", root_path, class: 'page-scroll' %>
				
				</p>

				<p>Andreykiv's © 2017</p>
			</div>

</footer>
		
		
